<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <context-param>
    <param-name>quartz:config-file</param-name>
    <param-value>/quartz.properties</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:shutdown-on-unload</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:wait-on-shutdown</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:start-scheduler-on-load</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <servlet-name>QuartzInitializer</servlet-name>
    <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
    <init-param>
      <param-name>shutdown-on-unload</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <session-config>
    <session-timeout>600</session-timeout>
  </session-config>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>cn.ncut.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>userfilter</filter-name>
    <filter-class>cn.ncut.filter.userfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userfilter</filter-name>
    <url-pattern>/usermanager/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userfilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhoneServlet</servlet-name>
    <servlet-class>cn.ncut.deviceservlet.PhoneServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserManagerServlet</servlet-name>
    <servlet-class>cn.ncut.syssetservlet.UserManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PrivilegeManagerServlet</servlet-name>
    <servlet-class>cn.ncut.syssetservlet.PrivilegeManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoleManagerServlet</servlet-name>
    <servlet-class>cn.ncut.syssetservlet.RoleManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.ncut.syssetservlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginOut</servlet-name>
    <servlet-class>cn.ncut.syssetservlet.LoginOut</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UrlServlet</servlet-name>
    <servlet-class>cn.ncut.syssetservlet.UrlServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>cn.ncut.syssetservlet.TimeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>cn.ncut.deviceservlet.QueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WxQueryServlet</servlet-name>
    <servlet-class>cn.ncut.wxservlet.WxQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhServlet</servlet-name>
    <servlet-class>cn.ncut.pushservlet.PhServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PlServlet</servlet-name>
    <servlet-class>cn.ncut.pushservlet.PlServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AppServlet</servlet-name>
    <servlet-class>cn.ncut.pushservlet.AppServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StServlet</servlet-name>
    <servlet-class>cn.ncut.pushservlet.StServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CtServlet</servlet-name>
    <servlet-class>cn.ncut.pushservlet.CtServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueServlet</servlet-name>
    <servlet-class>cn.ncut.pushservlet.QueServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>cn.ncut.pushservlet.JsonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MbServlet</servlet-name>
    <servlet-class>cn.ncut.deviceservlet.MobileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>cn.ncut.deviceservlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Temp</servlet-name>
    <servlet-class>cn.ncut.deviceservlet.Temp</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>cn.ncut.syssetservlet.AddUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Erweima</servlet-name>
    <servlet-class>cn.ncut.deviceservlet.Erweima</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrgServlet</servlet-name>
    <servlet-class>cn.ncut.commanageservlet.OrgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>cn.ncut.commanageservlet.EmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>cn.ncut.deviceservlet.LogServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IconServlet</servlet-name>
    <servlet-class>cn.ncut.pushservlet.IconServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>cn.ncut.wxservlet.UserProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DataMiningServlet</servlet-name>
    <servlet-class>cn.ncut.wxservlet.DataMiningServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowDXTServlet</servlet-name>
    <servlet-class>cn.ncut.wxservlet.ShowDXTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDXTServlet</servlet-name>
    <url-pattern>/servlet/ShowDXTServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhoneServlet</servlet-name>
    <url-pattern>/servlet/PhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagerServlet</servlet-name>
    <url-pattern>/servlet/UserManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrivilegeManagerServlet</servlet-name>
    <url-pattern>/servlet/PrivilegeManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleManagerServlet</servlet-name>
    <url-pattern>/servlet/RoleManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOut</servlet-name>
    <url-pattern>/servlet/LoginOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UrlServlet</servlet-name>
    <url-pattern>/servlet/UrlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/servlet/TimeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/servlet/QueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WxQueryServlet</servlet-name>
    <url-pattern>/servlet/WxQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhServlet</servlet-name>
    <url-pattern>/servlet/PhServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlServlet</servlet-name>
    <url-pattern>/servlet/PlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CtServlet</servlet-name>
    <url-pattern>/servlet/CtServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueServlet</servlet-name>
    <url-pattern>/servlet/QueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/servlet/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StServlet</servlet-name>
    <url-pattern>/servlet/StServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MbServlet</servlet-name>
    <url-pattern>/servlet/MbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Temp</servlet-name>
    <url-pattern>/servlet/temp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/servlet/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Erweima</servlet-name>
    <url-pattern>/servlet/Erweima</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrgServlet</servlet-name>
    <url-pattern>/OrgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/EmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/servlet/LogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppServlet</servlet-name>
    <url-pattern>/servlet/AppServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/servlet/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataMiningServlet</servlet-name>
    <url-pattern>/servlet/DataMiningServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IconServlet</servlet-name>
    <url-pattern>/servlet/IconServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>